.headerContainer {
  color: var(--primary-color);
  background-color: var(--background-color);
  @apply h-12;
  @apply flex justify-around;
  margin-top: 1.2rem;
}

.searchContainer {
  @apply flex;
}

.inputSearch {
  @apply relative;
  background-color: var(--background-color);
  border: 0.5px solid #e8eaed;
  @apply h-6 ml-8;
  @apply rounded-lg;
  width: 15rem;
  text-indent: 0.5rem;
}

.inputSearch:hover {
  background-color: #2f2f33;
}

#proSearchIcon {
  @apply ml-3
}
